header {
    padding: 20px;
    background: #20232A;
    color: #fff;
    display: flex;
    border-bottom: 1px solid #ccc;
    &.light {
        background: #fff;
        color: #000;
    }
}

.head {
    &_left {
        flex-grow: 1;
    }
}
